@model Fatura
@{
    ViewData["Title"] = "Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Departman Güncelleme Sayfası</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<h2>Departman Güncelleme Sayfası</h2>
<br />
<body>

    <form class="form-control" method="post">
        <input type="hidden" asp-for="FaturaId" class="form-control" />

        <label asp-for="FaturaSeriNo">Seri No</label>
        <input type="text" asp-for="FaturaSeriNo" class="form-control" />
        <span asp-validation-for="@Model.FaturaSeriNo" class="text-danger"></span>

        <label asp-for="FaturaSıraNo">Sıra No</label>
        <input type="text" asp-for="FaturaSıraNo" class="form-control" />
        <span asp-validation-for="@Model.FaturaSıraNo" class="text-danger"></span>

        <label asp-for="Tarih">Tarih</label>
        <input type="text" asp-for="Tarih" class="form-control" />
        <span asp-validation-for="@Model.Tarih" class="text-danger"></span>

        <label asp-for="VergiDairesi">Vergi Dairesi</label>
        <input type="text" asp-for="VergiDairesi" class="form-control" />
        <span asp-validation-for="@Model.VergiDairesi" class="text-danger"></span>

        <label asp-for="Saat">Saat</label>
        <input type="text" asp-for="Saat" class="form-control" />
        <span asp-validation-for="@Model.Saat" class="text-danger"></span>

        <label asp-for="TeslimAlan">Teslim Alan</label>
        <input type="text" asp-for="TeslimAlan" class="form-control" />
        <span asp-validation-for="@Model.TeslimAlan" class="text-danger"></span>

        <label asp-for="TeslimEden">Teslim Eden</label>
        <input type="text" asp-for="TeslimEden" class="form-control" />
        <span asp-validation-for="@Model.TeslimEden" class="text-danger"></span>

      
        <br />
        <button class="btn btn-success">Güncelle</button>

    </form>
</body>
</html>


