@model Urun
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Yeni Kategori Sayfası</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<h2>Yeni Ürün Ekleme Sayfası</h2>
<br />
<body>

    <form class="form-control" method="post">
        <label asp-for="UrunAd">Urun Adı</label>
        <input type="text" asp-for="UrunAd" class="form-control" />
        <span asp-validation-for="@Model.UrunAd" class="text-danger"></span>

        <label asp-for="Marka">Marka</label>
        <input type="text" asp-for="Marka" class="form-control" />
        <span asp-validation-for="@Model.Marka" class="text-danger"></span>

        <label asp-for="Stok">Stok</label>
        <input type="number" asp-for="Stok" class="form-control" />
        <span asp-validation-for="@Model.Stok" class="text-danger"></span>

        <label asp-for="AlisFiyat">Alış Fiyat</label>
        <input type="number" asp-for="AlisFiyat" class="form-control" />
        <span asp-validation-for="@Model.AlisFiyat" class="text-danger"></span>

        <label asp-for="SatisFiyat">Satış Fiyat</label>
        <input type="number" asp-for="SatisFiyat" class="form-control" />
        <span asp-validation-for="@Model.SatisFiyat" class="text-danger"></span>

        <label asp-for="Durum">Durum</label>
        <input type="text" asp-for="Durum" class="form-control" />
        <span asp-validation-for="@Model.Durum" class="text-danger"></span>

        <label asp-for="UrunGorsel">Urun Görsel</label>
        <input type="text" asp-for="UrunGorsel" class="form-control" />
        <span asp-validation-for="@Model.UrunGorsel" class="text-danger"></span>

        <label asp-for="Kategori">Kategori</label>
        <select class="form-control" asp-for="KategoriId"
                asp-items="(IEnumerable<SelectListItem>)ViewBag.kategori">
            <option value="">Seçiniz</option>
            <span asp-validation-for="@Model.KategoriId" class="text-danger"></span>

        </select>

        <br />
        <button class="btn btn-success">Kaydet</button>

    </form>
</body>
</html>

